<%= form_with(model: track_note) do |form| %>
  <% if track_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track_note.errors.count, "error") %> prohibited this track_note from being saved:</h2>

      <ul>
        <% track_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :music_track_id %>
    <%= form.number_field :music_track_id %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, value:current_user.id, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
